<style>
    #form form{
        margin: 0 120px;
    }
</style>

<div id="form">
    
        <div class="mb-3">
          <label for="InputDNI" class="form-label">DNI</label>
          <input type="text" class="form-control" id="request.dni" [formControl]="request.dni">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">First Name</label>
          <input type="text" class="form-control" id="request.firstName" [formControl]="request.firstName">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="request.LastName" [formControl]="request.lastName">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Genre</label>
            <input type="text" class="form-control" id="request.genre" [formControl]="request.genre">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="text" class="form-control" id="request.address" [formControl]="request.address">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Photo</label>
            <input type="file" class="form-control" id="request.photo" [formControl]="request.photo">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="request.phoneNumber" [formControl]="request.phoneNumber">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="request.mobileNumber" [formControl]="request.mobileNumber">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cod User</label>
            <input type="text" class="form-control" id="request.codUser" [formControl]="request.codUser">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" class="form-control" id="request.email" [formControl]="request.email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Birth Date</label>
            <input type="date" class="form-control" id="request.birthDate" [formControl]="request.birthDate">
          </div>
        <button type="submit" class="btn btn-primary" id="submit" (click) = "submit()">Submit</button>
      
</div>
